body {
    background-color: gray;
}

header {
    margin: 0 auto;
    text-align: center;
}

h2 {
    text-align: center;
}

nav {
    margin: 0 auto;
    text-align: center;
    padding: 0 0 25px 0;
}

#team-form {
    text-align: center;
}

.teams-container {
    display: inline-block;
}

img {
    width: 200px;
    height: 200px;
}

.delete {
    float: inline-start;
}